<!DOCTYPE html>
<html lang="en">
<head>
<meta cherset="utf-8">
</script>
</head>
<body>
<p>----------------------------------------------------------------------------------<br />
<h2>         Node is Managed by Puppet Server: puppet.example.com			</h2>
<br />----------------------------------------------------------------------------------<br />
<h1>Welcome to host     : <%=@myhostname%> </h1><br>
<h2>My IP Details 	: <%=@myipaddress%></h2>
<h2>OperatingSystem     : <%=@myoperatingsystem%></h2>
<h2>Environment         : <%=@myenvironment%></h2>
<h2>Running Since 	: <%=@uptime%> </h2>
<h2>My DNS Name   	: <%=@fqdn%></h2>
<h2>My Purpose  	: <%=@mypurpose%></h2>
<h2>Brought to you by  	:<%=@myname%> </h2>
</body>
</html>
